body {

}

.htmlPageBodyWrapper {
    /*width: 100%;*/
    min-height: 100vh;
    background-color: #c4e3f3;
}

/******** PAGE TOP **********/
.htmlPageBodyTopWrapper {
    /*width: 100%;*/
    /*height: 17.5%;*/
    background-color: orange;
}

#htmlPageBannerWrapper {
    /*width: 100%;*/
    /*height: 80%;*/
    background-color: blueviolet;
}
#htmlPageNavigationBarWrapper {
    /*width: 90%;*/
    /*height: 100%;*/
    /*margin-left: 5%;*/
}

#htmlPageCategoryLinkWrapper {

}

/******* PAGE BOTTOM ********/
.htmlPageBodyBottomWrapper {
    /*width: 100%;*/
    min-height: 82.5%;
    background-color: green;
}

#htmlPageContentWrapperOuter {
    /*width: 90%;*/
    /*height: 100%;*/
    /*margin-left: 5%;*/
    background-color: yellow;
}

#htmlPageContentWrapperInner {
    /*width: 90%;*/
    /*height: 100%;*/
    /*margin-left: 5%;*/
    background-color: blue;

    min-height: 30em;
}


#htmlPageHeaderWrapper {
    margin-top:0.6vw;
    background-color: pink;
}
#htmlPageHeaderWrapper h2 {
    margin:0;
}

#htmlPageContent {
    margin-top:1.5vw;
    min-height: 10em;
    background-color: brown;
}

/*************************************************************/
.navTab {
    color:#FFFFFF;
    background-color: #727272;
    padding-top:0.2vw;
    padding-bottom:0.2vw;
}
.navTab h3 {
    padding:0;
    margin:0;
}

.navTab a {
    color:#FFFFFF;
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: white;
}

